<h1>Listing infolinks</h1>

<table>
  <tr>
    <th>Frompiece</th>
    <th>Topiece</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @infolinks.each do |infolink| %>
  <tr>
    <td><%= infolink.frompiece_id %></td>
    <td><%= infolink.topiece_id %></td>
    <td><%= link_to 'Show', infolink %></td>
    <td><%= link_to 'Edit', edit_infolink_path(infolink) %></td>
    <td><%= link_to 'Destroy', infolink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Infolink', new_infolink_path %>
