<p id="notice"><%= notice %></p>

<p>
  <b>Frompiece:</b>
  <%= @infolink.frompiece_id %>
</p>

<p>
  <b>Topiece:</b>
  <%= @infolink.topiece_id %>
</p>


<%= link_to 'Edit', edit_infolink_path(@infolink) %> |
<%= link_to 'Back', infolinks_path %>
