<%= form_for(@infopiece) do |f| %>
  <% if @infopiece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infopiece.errors.count, "error") %> prohibited this infopiece from being saved:</h2>

      <ul>
      <% @infopiece.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span6 offset1">
	lcount:<%= f.number_field :lcount%><br>
	rcount:<%= f.number_field :rcount%>
    <%= f.text_area :content, :class => "newpiecefield", :rows => 18, :cols => 400 %>
    <%= f.submit "OK"%>
  </div>
<% end %>
