<%= form_for(@infopiece) do |f| %>
  <% if @infopiece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infopiece.errors.count, "error") %> prohibited this infopiece from being saved:</h2>

      <ul>
      <% @infopiece.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :lcount %>
    <%= f.text_area :content, :class => "newpiecefield", :rows => 48, :cols => 400 %>
  <%= f.submit %>
<% end %>
