<% @infolink = @infopiece %>
<% @infopiece = @infolink.topiece %>
<tr>
	<td class="<%= 
				'selected_area' if 
					@infopiece == @current_cinfo or 
					@infopiece == @current_linfo
				%> minitext center">
		<button 
			class="btn btn-mini toleft" 
			onclick="drawarrow()"
			onmousedown=<%="moveFrom(" + @infolink.id.to_s + "," + @infopiece.id.to_s + ")" %> 
		>
			<i class="icon-hand-right"></i>			
		</button>
		<span onclick=<%="choseInfo(" + @infopiece.id.to_s  + ")"%> >
			<<%= @infopiece.lcount %> ,
			<%= @infopiece.rcount %>> ,
			<%= @infopiece.created_at.to_date %>
		</span>
		<div class="btn-group left">
			<a data-toggle="dropdown" href="#"><span class="caret"></span></a>
			<ul class="dropdown-menu">
			<li><%= link_to content_tag('i', nil, class: "icon-plus") + " New", infopiece_path(@infopiece),:onclick=>"window.open(this.href,'create_company', 'height=800, width=600');return false;" %></li>
			<li><%= link_to content_tag('i', nil, class: "icon-pencil") + " Edit", edit_infopiece_path(@infopiece),:onclick=>"window.open(this.href,'create_company', 'height=800, width=600');return false;" %></li>
			<li><%= link_to  content_tag('i', nil, class: "icon-trash") + " Delete", @infopiece, method: :delete, data: { confirm: 'Sure to delete?' } %></li>
			<% if @infolink.frompiece_id != 0 then %>
				<li><%= link_to  content_tag('i', nil, class: "icon-remove") + " Unlink", @infolink, method: :delete, data: { confirm: 'Sure to unlink?' } %></li>
			<% end %>
			<li class="divider"></li>
			<li><a href="#"><i class="i"></i> Make admin</a></li>
			</ul>
		</div>
		<button 
			class="btn btn-mini toright" 
			onmousedown=<%="refFrom(" + @infopiece.id.to_s + ")" %> 
			 >
			<i class=" icon-resize-horizontal"></i>
		</button>
	</td>
</tr>
<tr class=" <%= 
				'selected_area' if 
					@infopiece == @current_cinfo or 
					@infopiece == @current_linfo
				%>" >
	<td  colspan="3" style="word-break:break-all">
		<div 
			class="info_area" 
			onmouseup=<%="endTo(" + @infopiece.id.to_s + ")" %> >
			<%= simple_format(@infopiece.content) %>
		</div>
	</td>
</tr>