<% @infolink = @infopiece %>

<% 
	if @infolink.topiece != nil then 
		@infopiece = @infolink.topiece
%>

<tr>
	<td class="<%= 
				if @infopiece == @current_cinfo or @infopiece == @current_linfo then 'selected_area' 
				elsif @infopiece.rcount == 0 then 'leaf_area' 
				else 'normal_area' end
				%> minitext center">
		<button 
			class="toleft btn-hidden" 
			onclick="drawarrow()"
			onmousedown=<%="moveFrom(" + @infolink.id.to_s + "," + @infopiece.id.to_s + ")" %> 
			>
			<i class="icon-hand-right"></i>			
		</button>
		<button 
			class="toleft btn-hidden" 
			onmousedown=<%="moveIndexFrom(" + @infolink.id.to_s + ")" %> 
			>
			<i class="icon-resize-vertical"></i>			
		</button>
		<span onclick=<%="choseInfo(" + @infopiece.id.to_s  + ")"%> >
<!--
			<
			<%= @infopiece.lcount %> ,
			<%= @infopiece.rcount %>> ,
-->
			<%= @infopiece.created_at.strftime("%y-%m-%d") %>
		</span>
		<div class="btn-group left">
			<a data-toggle="dropdown" href="#"><span class="caret"></span></a>
			<ul class="dropdown-menu">
			<li><a href="#EModal<%=@infopiece.id%>" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
			<li><%= link_to  content_tag('i', nil, class: "icon-trash") + " Delete", @infopiece, method: :delete, data: { confirm: 'Sure to delete?' } %></li>
			<% if @infolink.frompiece_id != 0 then %>
				<li><%= link_to  content_tag('i', nil, class: "icon-remove") + " Unlink", @infolink, method: :delete, data: { confirm: 'Sure to unlink?' } %></li>
			<% end %>
			<li class="divider"></li>
				<li><%= link_to  content_tag('i', nil, class: "icon-remove") + " Wikitable", controller: :infopieces, action: :wikitable, id: @infopiece, level: "4" %></li>
			</ul>
		</div>
		<button 
			class="toright btn-hidden" 
			onmousedown=<%="refFrom(" + @infopiece.id.to_s + ")" %> 
			 >
			<i class=" icon-resize-horizontal"></i>
		</button>
	</td>
</tr>
<tr 
	class=" <%= 
				if @infopiece == @current_cinfo or @infopiece == @current_linfo then 'selected_area' 
				elsif @infopiece.rcount == 0 then 'leaf_area' 
				else 'normal_area' end
	%>"
>
	<td  colspan="3" style="word-break:break-all">
		
		<div 
			id="<%= if  @infopiece == @current_cinfo then 'cinfo' 
				elsif  @infopiece == @current_linfo then 'linfo'
				end
				%>"
			class="info_area" 
			onmouseup=
			<%=
				if @infolink.id != nil then
					"endTo(" + @infopiece.id.to_s + "," + @infolink.id.to_s + ")" 
				else
					"endTo(" + @infopiece.id.to_s + ",0)"
				end
			%>
		>
			<%= simple_format(@infopiece.content) %>
		</div>
	</td>
</tr>

<% else
	@infopiece = Infopiece.new %>
	<tr><td>
	<h4>&nbsp;<a href="#NModal<%=@infolink.frompiece_id%>" data-toggle="modal" class="label ">&nbsp+ ADD&nbspNew&nbsp</a>&nbsp;</h4>
	</td></tr>
		
<!-- Modal -->
<div id="NModal<%=@infolink.frompiece_id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Create New Info</h3>
	</div>
	<%= form_for(@newinfopiece) do |f| %>
	  <%= f.hidden_field :lcount, value: @infolink.frompiece_id %>
		<div class="center">
			<%= f.text_area :content, :class => "appendpiecefield" %>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<%= f.submit "Add", class: "btn btn-success" %>
		</div>
	<% end %>
</div>
<% end %>

<!-- Modal -->
<div id="EModal<%=@infopiece.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Edit Info</h3>
	</div>
	<%= form_for(@infopiece) do |f| %>
		<div class="center">
			lcount:<%= f.number_field :lcount%><br>
			rcount:<%= f.number_field :rcount%><br>
			<%= f.text_area :content, :class => "appendpiecefield" %>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<%= f.submit "Save", class: "btn btn-success" %>
		</div>
	<% end %>
</div>