
<% if @lpieces != nil then if !@lpieces.empty? then%>
	<table class="span3">
	<% @lpieces.each do |infopiece| %>
		<% @infopiece = infopiece %>
		<%= render "infopiece" %>
		<tr><td colspan="7"  onclick=<%="choseInfo(" + infopiece.id.to_s + ",0)"%>>
				<div class="info_area <%= 'selected_area' if infopiece == @current_linfo %>" ><%= infopiece.content %></div>
		</td></tr>
	<% end %>
	<tr><td><br></td></tr>
	</table>
<% end end %>

<!------------ Show other root info pieces------------->
<% if @rootpieces != nil then %>	
	<table class="span3 label">
	<% @rootpieces.each do |infopiece| %>
		<% @infopiece = infopiece %>
		<%= render "infopiece" %>
		<tr><td colspan="7"  onclick=<%="choseInfo(" + infopiece.id.to_s + ",0)"%>>
				<div class="info_area %>" ><%= infopiece.briefcontent %></div>
		</td></tr>
	<% end %>
	</table>
<% end %>
