<div class="row">
		<div class="row" onmoveend="init()">
		<!--
			<div class="span12">
				current_linfo: <%= @current_linfo.id if @current_linfo != nil%><br>
				current_cinfo: <%= @current_cinfo.id if @current_cinfo != nil%>
			</div>
		-->
		
		<div class="span3">
			<%= render "ltree" %>
		</div>
		<div class="span3">
			<%= render "ctree" %>
		</div>
		<div class="span5 ">
			<%= render "rtree" %>
		</div>
				
		</div>
</div>