<head>
    <title>INFO-MAP - Take care of your info of mess!</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "defaults" %>
        <%= javascript_include_tag "prototype" %>
    <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
  
  <body onload="init();">
  
  <script type="text/javascript" language="javascript">
  
  function drawLink(ctx, f, t)
  {
  	  var fx = f.offsetLeft, fy = f.offsetTop, fl = f.offsetWidth;
  	  var tx = t.offsetLeft, ty = t.offsetTop;
  	  
  	  while(f=f.offsetParent) {
  	  	  fx += f.offsetLeft;
  	  	  fy += f.offsetTop;
  	  }
  	  while(t=t.offsetParent) {
  	  	  tx += t.offsetLeft;
  	  	  ty += t.offsetTop;
  	  }
  	  
  	  //alert("fx:" + fx +",fy:" + fy + ",tx:" + tx + ",ty:" + ty)
  	  ctx.moveTo(fx + fl - 15, fy + 10)
  	  ctx.lineTo(tx + 15,ty + 15 )
  	  ctx.stroke()
  	  ctx.closePath()
  }
  
  function init() {
  	  var canvas = document.getElementById('canvas');
  	  var contex = canvas.getContext('2d');
  	  contex.strokeStyle = "pink"
  	  
  	  var linfo = document.getElementById('linfo1');
  	  var cinfo = document.getElementById('cinfo1');
	  var linfos = document.getElementsByName('linfos1');
  	  var cinfos = document.getElementsByName('cinfos1');
  	  var rinfos = document.getElementsByName('rinfos1');
  	  
  	  if (linfo && cinfo) {
		  for ( var i = 0; i < linfos.length; i++) {
			drawLink(contex, linfos[i], cinfo);
		  }
  	  	  for (var i = 0; i < rinfos.length; i++) {
  	  	  	drawLink(contex, cinfo, rinfos[i]);
  	  	  }
  	  }
	  
	  linfo = document.getElementById('linfo2');
  	   cinfo = document.getElementById('cinfo2');
	   linfos = document.getElementsByName('linfos2');
  	   cinfos = document.getElementsByName('cinfos2');
  	   rinfos = document.getElementsByName('rinfos2');
  	  
  	  if (linfo && cinfo) {
		  for ( var i = 0; i < linfos.length; i++) {
			drawLink(contex, linfos[i], cinfo);
		  }
  	  	  for (var i = 0; i < rinfos.length; i++) {
  	  	  	drawLink(contex, cinfo, rinfos[i]);
  	  	  }
  	  }
  }
  
  function   getAbsPoint(e)      
 {      /*
    var   x   =   e.offsetLeft,   y   =   e.offsetTop;      
    while(e=e.offsetParent)    
    {    
       x   +=   e.offsetLeft;      
       y   +=   e.offsetTop;   
    }    
    alert("x:"+x+","+"y:"+y);      */
 }
  
  function switchpoolstatus() {
	$.get("/application/switchpoolstatus",function(){
		// alert("Switched Pool Status");
	});
  }
  
  linkId = 0
  fromId = 0
  toId = 0
  indexFromId = 0
  
  function moveFrom(linkid, infoid) {
	// move info to new place, break original link
	linkId = linkid;
	toId = infoid;
	fromId = 0;
  }
  function moveIndexFrom(linkid) {
	indexFromId = linkid;
  }
  function refFrom(id) {
	// reference new info, add new link
	fromId = id;
	toId = 0;
  }
  function endTo(id, tolinkid) {
	//alert("endTo(" + id + "," + tolinkid + ")") ;
	if (fromId == id || (indexFromId == tolinkid && indexFromId != 0)) {
		//alert("useless");
		linkId = 0
		fromId = 0
		toId = 0
		indexFromId = 0
		return
	}
	if ( indexFromId > 0) {
		// this is switch operation
		//alert("switch from "+ indexFromId + "to" + tolinkid );
		window.location.href="/infolink/switchlink?indexfromid=" + indexFromId + "&indextoid=" + tolinkid;
	}
	else if (fromId == 0 && tolinkid != 0) {
		// this is a move operation
		//alert("move from "+ toId + "to" + id + ", break link:" + linkId );
		if(toId == 0 || id == 0) {
			linkId = 0
			fromId = 0
			toId = 0
			indexFromId = 0
			return
		}
		window.location.href="/infolink/movelink?frominfoid=" + id + "&toinfoid=" + toId + "&breaklinkid=" + linkId;
	} else if (toId == 0) {
		//this is a reference operation
		//alert("reference from " + fromId + " to" + id);
		window.location.href="/infolink/buildlink?frominfoid=" + fromId + "&toinfoid=" + id;
	} else if (tolinkid == 0) {
		//this is a new connection creation
		//alert("Create link from " +  id + " to" + toId);
		window.location.href="/infolink/buildlink?frominfoid=" + id + "&toinfoid=" + toId;
	}
	linkId = 0
	fromId = 0
	toId = 0
	indexFromId = 0
  }

  function choseInfo(cid, page) {
	window.location.href="/application/setcurrent?selectpiece" + page + "=" + cid;
  }
  
  function expandInfo(infoid) {
	window.location.href="/application/switchexpansion?infoid=" + infoid;
  }
  
  </script>
 <canvas id="canvas" class="navbar-fixed-top" style="position:absolute;z-index:-1" width="1600" height="1200" ></canvas> 
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to "INFO-MAP", '#', id: "logo" %>
			<% if current_user %>
				<a href="#AddinfoModal" data-toggle="modal" class="badge badge-important"><i class="icon-comment icon-white"></i> Add New Info</a>
			<% end %>
            <ul class="nav pull-right">
                         <% if current_user %>
                                <li><%= link_to current_user.email, user_path(current_user), :onclick=>"window.open(this.href,'create_company', 'height=650, width=800');return false;" %></li>

                                <li><%= link_to('LogOut', destroy_user_session_path, :method => :delete) %></li>
                                <li><%= link_to('ChangePwd', edit_registration_path(:user)) %></li>
                         <% else %>
                                <li><%= link_to('Register', new_registration_path(:user)) %></li>
                                <li><%= link_to('Login', new_session_path(:user)) %> </li>
                         <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
<!--
	<% if current_user then %>		
		<div class="span" data-spy="affix" style="overflow:auto; height: 500px; width: 100%"> 

		<div class="span4">
			<%= render "application/roottree" %>
		</div>
	<% end %>
-->	

<!--------------------
		session expandinfo:<%= session[:expandinfo] %><br>
		session test:<%= session[:test] %><br>
		session cpiece:<%= session[:cpiece] %><br>
		session lpiece:<%= session[:lpiece] %><br>
		@current_cinfo:<%= @current_cinfo.id if @current_cinfo != nil %><br>
		@current_linfo:<%= @current_linfo.id if @current_linfo != nil %><br>
----------------------->

	<% if current_user then %>
		<div><%= render "pool" %></div>
		<hr>
	<% end %>
	
    <div class="container-fluid" id="main">	
		<%= yield %>
    </div>

	
	<!-- Modal -->
	<% if current_user then %>
		<div id="AddinfoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="myModalLabel">Create New Info</h3>
			</div>
			<%= form_for(@newinfopiece) do |f| %>
				<div class="center">
					<%= f.text_area :content, :class => "appendpiecefield" %>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<%= f.submit "Add", class: "btn btn-success" %>
				</div>
			<% end %>
		</div>
	<% end %>
  </body>

</html>